body {
	display: block;
}

#logo {
	width: 150px;
	margin-left: 20%;
}

/*# - id*/

#navbar-bg {
    /*background-color: #333 !important;*/
    background-color: rgb(19,19,19) !important;
}

/*. - class*/

.nav-text-color {
	color: white !important;
}

.nav-links {
	margin-left: 33%;
	margin-right: 33%;
}

/*.bg1 {
	background:url("img/bg1.png");
	background-size: cover;
	display: block;
}*/

/*div.contact-us {
	display: block;
	position: absolute;
}*/


.container {
	display:flex;
	flex-direction:column;
}

.bgimg {
	width: 100%;
}

/*.row-lol1 {
	background-image: url("img/bg1.png") no-repeat center;
	background-size: contain;
}

.row-lol2 {
	background: red;
}*/
